<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Book</title>
</head>

<body>
    <h1>Add a New Book</h1>
    <form action="#" th:action="@{/addbook}" th:method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br><br>

        <label for="publicationYear">Publication Year:</label>
        <input type="number" id="publicationYear" name="publicationYear" required><br><br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required><br><br>

        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price" required><br><br>

        <label for="category">Category:</label>
        <select id="category" name="categoryId" required>
            <option value="" disabled selected>Select a category</option>
            <option th:each="category : ${categories}" 
                    th:value="${category.id}" 
                    th:text="${category.name}">
            </option>
        </select><br><br>

        <button type="submit">Add Book</button>
    </form>
</body>

</html>